<div class="centerPage">
  <div *ngIf="notFinished">
    <h4>Skóre: {{score}}</h4>
    <h3>{{number}}. {{questions[number-1]}}</h3>
    <mat-radio-group class="example-radio-group leftAlign" [(ngModel)]="selectedAnswer">
      <mat-radio-button class="example-radio-button myRadio" (keyup.enter)="onKeyUp()" *ngFor="let answer of answers" [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>
    <div>
      <button mat-raised-button color="accent" class="btnColor" (click)="submitAnswer()">Next</button>
      <button mat-fab (click)="reset()">Reset</button>
    </div>
    <pre>{{selectedAnswer}}</pre>
  </div>
  <div *ngIf="!notFinished">
    <h2>Tvoje skóre je: {{score}}</h2>
    <button mat-fab (click)="reset()">Reset</button>
  </div>
</div>