/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 20px auto;
    padding: 20px;
    background-color: #223344; 
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.myRadio .mat-radio-outer-circle {
    border-color: rgb(123, 245, 2);
}

.centerPage {
    width: 75%;
    margin: 50px auto;
    text-align: center;
}

.leftAlign {
    text-align: left;
}
